# Check if CSI Drivers are installed on Kubernetes

## Check if CSI Driver is present
```bash
kubectl get csidriver
